<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Underscore(_)을 사용한 컬럼이름을 낙타표기법(camelcase)을 사용한 객체의 변수이름과 자동으로 매치시키도록 설정 -->
         <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!-- MyBatis 설정파일에서 kr.ac.hit.myapp.member.memberVo 대신 memberVo라고 사용 가능-->
        <typeAlias type="kr.ac.hit.myapp.member.memberVo" alias="memberVo"/>
             <typeAlias type="kr.ac.hit.myapp.bbs.BbsVo" alias="BbsVo"/>
              <typeAlias type="kr.ac.hit.myapp.prod.ProdVo" alias="ProdVo"/>
              <typeAlias type="kr.ac.hit.myapp.bbs.AttachVo" alias="AttachVo"/>
    </typeAliases>
    
 
 <!--  <environments default="development">
      스프링과 함께 사용하는 경우, db연결은 스프링이 담당하므로 불필요
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments> -->
  <!-- MyBatis를 통해서 실행할 SQL문들을 정의해 놓은 XML 파일들의 위치를 등록 -->
  <!-- TABLE마다 XML 파일을 분리시키는 게 맞다 -->
  <mappers>
    <mapper resource="/batis/mappers/MemberMapper.xml"/>
      <mapper resource="/batis/mappers/BbsMapper.xml"/>
      <mapper resource="/batis/mappers/ProdMapper.xml"/>
        <mapper resource="/batis/mappers/AttachMapper.xml"/>
  </mappers>
  
</configuration>